h1{
    background-color: bisque;
    color: aqua;
}
.p-1{
    background-color: aliceblue;
    color: blue;
        padding: 10px;
    border: 2px solid red;
    
}
.p-2{padding: 10px;background-color: aliceblue;
    color: rgb(255, 0, 76);
    border: 2px solid rgb(166, 255, 0);
    padding: 10px;
    
}
.p-3{
    background-color: aliceblue;
    color: rgb(195, 0, 255);
        border: 2px solid rgb(0, 217, 255);
    padding: 10px;
    
}
@media (max-width:600px) {
    .p-1{
        background-color: rgb(9, 133, 241);
        color: white;
            padding: 10px;
        border: 2px solid rgb(122, 4, 4);
        
    }
}
@media (min-width:601px) and (max-width:750px) {
    .p-1{
        background-color: rgb(145, 9, 236);
        color: white;
            padding: 10px;
        border: 2px solid rgb(122, 4, 4);
        
    }
}
@media (min-width:751px) and (max-width:900px) {
    .p-1{
        background-color: rgb(14, 235, 224);
        color: white;
            padding: 10px;
        border: 2px solid rgb(122, 4, 4);
        
    }
}
@media (min-width:901px) and (max-width:1200px) {
    .p-1{
        background-color: rgb(7, 243, 113);
        color: white;
            padding: 10px;
        border: 2px solid rgb(122, 4, 4);
        
    }
}